/* line 1, static/dist/custom/scss/components/navbar.scss */
.NavBar {
  background-color: transparent;
  position: fixed; }
  /* line 5, static/dist/custom/scss/components/navbar.scss */
  .NavBar img {
    padding-top: 10px;
    width: 100px; }
  /* line 10, static/dist/custom/scss/components/navbar.scss */
  .NavBar .Company {
    font-size: 30px;
    padding-top: 20px; }
  /* line 15, static/dist/custom/scss/components/navbar.scss */
  .NavBar .Buttons {
    padding-top: 18px; }
    /* line 18, static/dist/custom/scss/components/navbar.scss */
    .NavBar .Buttons p {
      margin-left: 10px;
      float: left;
      font-size: 20px;
      text-transform: uppercase; }

/* line 1, static/dist/custom/scss/components/mainImage.scss */
.MainImage {
  background-color: transparent;
  position: fixed; }
  /* line 5, static/dist/custom/scss/components/mainImage.scss */
  .MainImage img {
    margin-top: -80px;
    padding: 0; }
  /* line 9, static/dist/custom/scss/components/mainImage.scss */
  .MainImage .WhoIs {
    position: absolute;
    text-align: center; }

/* line 4, static/dist/custom/scss/components/index.scss */
#main {
  background-color: black;
  color: white; }
